<html lang="en">
<head>
<title>Aspiring Apps</title>

<link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css" />
<link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet"/>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>   
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 20px;
     }
   </style>



</head>

<body>

<div class="row">
   <div class="span2">
   </div>
   <div class="span6">

      <form class="well">

          <center><b>Reset Password</b></center>
          <br>
          <br>
        <fieldset>
          <label>Enter your email address</label>
          <input class="span5" style="font-size:16px;height:28px;line-height:28px;" type="text"  name="email" placeholder="Email">
          <br>
          <br>
          <button type="submit" class="btn btn-primary btn-block" onclick="return verifysignup();">Submit</button>
        </fieldset>
      </form>
   </div>
</div>

<script>
function verifysignup() {
   return true
}
</script>
<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>   

</body>
</html>

