MESHKIT_ACCESS_KEY_ID=
MESHKIT_SECRET_ACCESS_KEY=
MESHKIT_BUCKET=
MESHKIT_ENDPOINT=https://s3.filebase.com
# Lighthouse: https://gateway.lighthouse.storage
# fil.one:    https://eu-west-1.s3.fil.one
PORT=4000
