<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}	

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Monthly Budget Manager
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/web/home/portfolio-appbundles.html">App Bundles</a>
                    </li>
                    <li class="breadcrumb-item active">Monthly Budget Manager</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/sc1.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/sc2.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/sc3.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/sc4.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/sc5.png") }}" alt="">
                        </div>



                    </div>

                    <!-- Controls -->
                    <a class="carousel-control-prev" href="#carousel-example-generic" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-generic" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>App Description</h3>
                <p>Monthly Budget Manager enables you to get a comprehensive view of your personal finance. It helps you to track income and expenses and manage your home budget, maintain check book and ledger entries and plan for your retirement.</p>
                <h3>Features</h3>
                <ul>
                    <li>Track your income and expenses</li>
                    <li>Manage your home budget</li>
                    <li>Maintain your checkbook and ledger</li>
                    <li>Plan for your retirement</li>
                    
                </ul>
                <h3>Price: $ 2.99</h3>
            </div>

        </div>
        <!-- /.row -->

	
	<!-- link to stores for the product -->
	<!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Buy</h3>
            </div>
	  
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block  buy-button" href="https://itunes.apple.com/us/app-bundle/id938568713?mt=8">Apple</a>
                </div>
                <!--<div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block"  href="https://play.google.com/store/apps/details?id=com.aspiring.businessquote">Google Play</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="http://www.amazon.com/Business-Quote-Kindle-Tablet-Edition/dp/B007FFY0HC/ref=pd_sim_mas_1?ie=UTF8&refRID=1J0H36HXEP5355Q79HKG">Amazon</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="http://www.barnesandnoble.com/w/price-quote-aspiring-investments-corp/1118966270?ean=2940147183700">Nook</a>
                </div>-->
                
	</div>
	
	<!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related App Bundles</h3>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/home-checkbook.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/Related/homecheckbook.png") }}"  title="Home Checkbook">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/home-checkbook.html"><h6>Business Ledger Books</h6></a><h6>$ 2.99</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/money-tools.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/Related/moneytools.png") }}"  title="Money Tools">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/money-tools.html"><h6>Money Tools</h6></a><h6>$ 2.99</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/personal-finance-assistant.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/Related/personalfinanceassistant.png") }}"  title="Personal Finance Assistant">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/personal-finance-assistant.html"><h6>Personal Finance Assistant</h6></a><h6>$ 2.99</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/portfolio-finance.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/AppBundles/BudgetManager/Related/portfoliofinance.png") }}"  title="Portfolio Finance">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/portfolio-finance.html"><h6>Portfolio Finance</h6></a><h6>$ 2.99</h6>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->


        <!-- Product FAQ -->
        <!--
        <div class="row">

        <div class="col-lg-12">
           <h3 class="page-header">Frequently Asked Questions</h3>
            </div>

      
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFive">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseSix">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseEight">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                   
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseNine">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                   
                </div>
                
            </div>
           
        </div>
       -->
    
	
	
	
        <hr>

        <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->

    {% module Template("footer-scripts.html") %}	

</body>

</html>
