
        <!-- Footer -->
        <footer>
            <div class="row">
		 <ul class="list-unstyled list-inline        list-social-icons">
                    <li>
                        <small> &copy; Aspiring Investments Corp 2015 </small>
                    </li>
		   
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-1x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-1x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-1x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-1x"></i></a>
                    </li>
                </ul>
		<p><i class="fa fa-phone"></i> <small>
                    <abbr title="Phone">Skype Id</abbr>: aspiring.investments </small> </p>
                <p><i class="fa fa-envelope-o"></i> <small>
                    <abbr title="Email">Email</abbr>: <a href="mailto:name@example.com">marketing@tickervalue.com</a></small></p>
            </div>
        </footer>
