
        <!-- Footer -->
        <footer>
            <div class="row">
		 <ul class="list-unstyled list-inline        list-social-icons">
                    <li class="list-inline-item">
                        <small> &copy; Aspiring Investments Corp 2017 </small>
                    </li>
		   
                    
                    <li class="list-inline-item">
                        <a class="footer-connect" href="https://twitter.com/aspiringapps"><i class="fa fa-twitter-square fa-1x"></i><span style="display: none;">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-connect" href="https://www.facebook.com/AspiringApps"><i class="fa fa-facebook-square fa-1x"></i><span style="display: none;">Facebook</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-connect" href="http://www.youtube.com/user/aspiringinvestments/featured"><i class="fa fa-youtube-square fa-1x"></i><span style="display: none;">Youtube</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-connect" href="http://www.pinterest.com/aspiringapps/"><i class="fa fa-pinterest-square fa-1x"></i><span style="display: none;">Pinterest</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-connect"  href="https://plus.google.com/102735125870952566387"><i class="fa fa-google-plus-square fa-1x"></i><span style="display: none;">Google Plus</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-connect" href="https://www.linkedin.com/company/aspiring-investments-corp"><i class="fa fa-linkedin-square fa-1x"></i><span style="display: none;">LinkedIn</span></a>
                    </li>
                </ul>
                <p><i class="fa fa-skype"></i> 
                    <small><abbr title="Phone">Skype Id</abbr>: aspiring.investments </small> 
                </p>
                <p><i class="fa fa-envelope-o"></i> 
                    <small><abbr title="Email">Email</abbr>: <a class="footer-connect" href="mailto:marketing@tickervalue.com">marketing@tickervalue.com<span style="display: none;">Email</span></a></small>
                </p>
            </div>
        </footer>
