    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Business Apps');"></div>
                <div class="carousel-caption">
                    <h2>Business</h2>
                </div>
            </div>
            <div class="carousel-item">
                <div class="fill"
        style="background-image:url('http://placehold.it/1900x1080&text=Personal Finance Apps');"></div>
                <div class="carousel-caption">
                    <h2>Personal Finance</h2>
                </div>
            </div>
            <div class="carousel-item">
                <div class="fill"
        style="background-image:url('http://placehold.it/1900x1080&text=Lifestyle Apps');"></div>
                <div class="carousel-caption">
                    <h2>Lifestyle</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </header>
