        <!-- Call to Action Section -->
            <div class="row">
                <div class="col-lg-12">
                 <h2 class="page-header">Visit Us At App Stores</h2>
                </div>

               <div class="col-md-2">
                    <a class="btn btn-lg btn-default btn-block visit-store" href="https://itunes.apple.com/us/artist/aspiring-investments-corp/id465587618">Apple Store 1</a>
                </div>

                <div class="col-md-2">
                    <a class="btn btn-lg btn-default btn-block visit-store" href="https://itunes.apple.com/us/developer/manu-gupta/id806110625">Apple Store 2</a>
                </div>

                <div class="col-md-2">
                    <a class="btn btn-lg btn-default btn-block visit-store" href="https://itunes.apple.com/my/developer/manu-gupta/id903728366">Apple Store 3</a>
                </div>

                <div class="col-md-2">
                    <a class="btn btn-lg btn-default btn-block visit-store"  href="https://play.google.com/store/apps/developer?id=Aspiring+Investments+Corp">Google Play 1</a>
                </div>

                 <div class="col-md-2">
                    <a class="btn btn-lg btn-default btn-block visit-store"  href="https://play.google.com/store/apps/developer?id=ASPIRING+USER+APPS">Google Play 2</a>
                </div>

                <div class="col-md-2">
                    <a class="btn btn-lg btn-default btn-block visit-store" href="http://www.amazon.com/s/ref=bl_sr_mobile-apps?_encoding=UTF8&field-brandtextbin=Aspiring%20Investments%20Corp&node=2350149011">Amazon</a>
                </div>
                <!--<div class="col-md-3">-->
                    <!--<a class="btn btn-lg btn-default btn-block" href="http://www.barnesandnoble.com/c/aspiring-investments-corp.">Nook and Samsung</a>-->
                <!--</div>-->
                
                <!--div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="http://www.barnesandnoble.com/c/aspiring-investments-corp.">Samsung</a>
                </div>
                 <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="http://appworld.blackberry.com/webstore/vendor/89750/?lang=en&countrycode=IN">Blackberry</a>
                </div>-->
</div>

