        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">App Bundles</h2>
            </div>

            <div class="row">
            
            <!-- Invoicing Tools -->
             <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/invoicing-tools.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/invoicingtools.png") }}" title="Invoicing Tools">
                        </div>
                    </a>
                    <a href="/web/home/invoicing-tools.html"><h4>Invoicing Tools</h4></a>
                    <div class="content-desc">
                        <p>Manage and send estimates and invoices on the go. Maintain a client list and check book register, create purchase orders, generate cash receipts. <br><b>Price: $ 1.99</b></p>
                    </div>
                </div>
            </div>

            <!-- Company Tools -->
            <div class="col-sm-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/company-tools.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/companytools.png") }}" title="Company Tools">
                        </div>
                    </a>
                    <a href="/web/home/company-tools.html"><h4>Company Tools</h4></a>
                    <div class="content-desc">
                        <p>Generate quotes, invoices and ledgers, do year over year financial book keeping, plan a tax payment, keep a log of your bills, invoices and ledgers. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/ledger-suite.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/businessledgersuite.png") }}" title="Company Tools">
                        </div>
                    </a>
                    <a href="/web/home/ledger-suite.html"><h4>Business Ledger Suite</h4></a>
                    <div class="content-desc">
                        <p>Get a comprehensive view of your business income, expenses, account balance and statements. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/business-suite.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/invoicetoolspro.png") }}" title="Business Suite">
                        </div>
                    </a>
                    <a href="/web/home/business-suite.html"><h4>Invoice Tools Pro</h4></a>
                    <div class="content-desc">
                        <p>Get a comprehensive view of your business income, expenses, account balance and statements.Manage and send invoices and estimates. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/personal-finance-assistant.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/personalfinanceassistant.png") }}" title="Personal Finance Assistant">
                        </div>
                    </a>
                    <a href="/web/home/personal-finance-assistant.html"><h4>Personal Finance Assistant</h4></a>
                    <div class="content-desc">
                        <p>Keep a track of your checking account and save money through it's budget process. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>
            
             <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/emp-pay-schedule.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/employeepayschedule.png") }}" title="Employee Pay Schedule">
                        </div>
                    </a>
                    <a href="/web/home/emp-pay-schedule.html"><h4>Employee Pay Schedule</h4></a>
                    <div class="content-desc">
                        <p>Create, track employees' schedule and payments, ledger and check book, create and manage invoices and receipts.
                        <br><b>Price: $ 2.99</b> </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/budget-manager.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/monthlymanager.png") }}" title="Monthly Budget Manager">
                        </div>
                    </a>
                    <a href="/web/home/budget-manager.html"><h4>Monthly Budget Manager</h4></a>
                    <div class="content-desc">
                        <p>Get a comprehensive view of your personal finance. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>

            </div>

            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/portfolio-finance.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/portfoliofinance.png") }}" title="Portfolio Finance">
                        </div>
                    </a>
                    <a href="/web/home/portfolio-finance.html"><h4>Portfolio Finance</h4></a>
                    <div class="content-desc">
                        <p>A one stop solution for all your investments, business administration and financial management needs. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>
 
            
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/business-balance.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/businessbalance.png") }}" title="Invoice and Accounts">
                        </div>
                    </a>
                    <a href="/web/home/business-balance.html"><h4>Business Balance</h4></a>
                    <div class="content-desc">
                        <p>Track your income, expenses and their sources, and generate invoices and orders. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>

             <div class="col-sm-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/customer-tools.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/customertools.png") }}" title="Customer Tools">
                        </div>
                    </a>
                    <a href="/web/home/customer-tools.html"><h4>Invoice Air</h4></a>
                    <div class="content-desc">
                        <p>Create and send estimates, invoices and billing statements to your customers. <br><b>Price: $ 1.99</b></p>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/employee-log.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/employeelog.png") }}" title="Employee Log">
                        </div>
                    </a>
                    <a href="/web/home/employee-log.html"><h4>Employees Schedule</h4></a>
                    <div class="content-desc">
                        <p>Keep a track of your employees' schedule on a daily and weekly basis.Manage the weekly pay and travel reimbursement of your employees. <br><b>Price: $ 1.99</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/employer-tools.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/employertools.png") }}" title="Employer Tools">
                        </div>
                    </a>
                    <a href="/web/home/employer-tools.html"><h4>Employee Pro</h4></a>
                    <div class="content-desc">
                        <p>Do business administration, accounting, billing, project management and manage employee schedule. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>
 
            
        </div>
        <!-- /.row -->

    </div>
