<!DOCTYPE html>
<html lang="en">

 {% module Template("header-head.html") %}
 <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

<body>

 {% module Template("header-nav.html") %}

 {% module Template("header-carousel.html") %}

    <!-- Page Content -->
    <div class="container">

        {% module Template("index-marketing-icons.html") %}

        {% module Template("index-portfolio.html") %}

        {% module Template("index-callaction.html") %}

        {% module Template("index-donate.html") %}

        <hr>
        {% module Template("footer.html") %}

    </div>
    <!-- /.container -->

    {% module Template("footer-scripts.html") %}    

    <!-- Script to Activate the Carousel -->
    <script>
    new bootstrap.Carousel(document.getElementById('myCarousel'), { interval: 5000 })
    </script>

</body>

</html>
