        <!-- Call to Action Section -->
<div class="row">
              <div class="col-lg-12">
                <h2 class="page-header">Visit Us At App Stores</h2>
            </div>

               <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="#">Apple</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block"  href="#">Google Play</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="#">Amazon</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="#">Samsung</a>
                </div>
</div>

