<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}	

    <!-- Page Content -->
    <div class="container">

        <!-- <form method="POST" action="/login">
            <center>

             Email: <input type="text" name="email" size="20" /><br />
             Password:<input type="password" name="password" size="15" /><br />
              <br>
             <input type="submit" value="Login" />
                <br>
                <br>
                <a href="/web/home/register.html">Register</a>&nbsp;&nbsp;<a
                href="/lostpw">Forgot Password</a>
              </div>
              </center>
            </form> -->
            <br><br><br>


            <form role="form" method="POST" action="/web/lostpw">
              <div id="span12">

                <div class="mb-3">
                  <label for="email">Enter your email address, instructions will be mailed to reset your password</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>

                 

                <button type="submit" class="btn btn-default">Done</button>
                 
              </div>
              </form>
        <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->

    {% module Template("footer-scripts.html") %}	

</body>


</html>

 
 