 
<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}	

    <!-- Page Content -->
    <div class="container">

         
            <br><br><br>

            <a href="/web/lostpw" class="btn btn-default" role="button"><span class="carousel-control-prev-icon"></span>Back</a>
            <br><br>

            User Email {{ argument['reguser'] }}  invalid. Reenter your email address
 
        <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->

    {% module Template("footer-scripts.html") %}	

</body>


</html>
