<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}	

    <!-- Page Content -->
    <div class="container">

         
            <center>

					Instructions to reset your password have been emailed to
					{{ argument['reguser'] }}. Please check your email.
					 
        <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->

    {% module Template("footer-scripts.html") %}	

</body>


</html>

