<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}	

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Medical Notes
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/web/home/portfolio-health.html">Health and Fitness Apps</a>
                    </li>
                    <li class="breadcrumb-item active">Medical Notes</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="3"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/MedicalNotes/sc1.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/MedicalNotes/sc2.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/MedicalNotes/sc3.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/MedicalNotes/sc4.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/MedicalNotes/sc5.png") }}" alt="">
                        </div>



                    </div>

                    <!-- Controls -->
                    <a class="carousel-control-prev" href="#carousel-example-generic" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-generic" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>App Description</h3>
                <p>Medical Notes Pro app provides you with a simple, intuitive and spreadsheet like interface to help you add your medical appointments, notes and medical visits.  </p>
                <h3>Features</h3>
                <ul>
                    <li>Little or no training required</li>
                    <li>Provides you with monthly calendar</li>
                    <li>Gives you an option to check mark specific dates to prioritise events.</li>
                    <li>Make calendars for medical appointments. </li>
                    <li>Locally save the order as a file, and re-use it with minimal changes.</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

	
	<!-- link to stores for the product -->
	<!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Buy</h3>
            </div>
	  
                <div class="col-md-6">
                    <a class="btn btn-lg btn-default btn-block   buy-button" href="https://itunes.apple.com/us/app/medical-notes-pro/id1097709341?mt=8">Apple</a>
                </div>
             <!--    <div class="col-md-6">
                    <a class="btn btn-lg btn-default btn-block"  href="https://play.google.com/store/apps/details?id=com.aspiring.bloodpressurephn">Google Play</a>
                </div> -->
                <!-- <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="http://www.amazon.com/Aspiring-User-Apps-Work-Order/dp/B00JC6SQ8G/ref=sr_1_9?s=mobile-apps&ie=UTF8&qid=1461134798&sr=1-9">Amazon</a>
                </div> -->
                <!-- <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="http://www.barnesandnoble.com/w/business-BloodPressure-aspiring-investments-corp/1118905140?ean=2940147179505">Nook</a>
                </div> -->
                
	</div>
	
	<!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Products</h3>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/medication-log.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/MedicalNotes/RelatedProducts/medicationlog.png") }}"  title="Medication Log">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/medication-log.html"><h6>Medication Log</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/diabetic-plus.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/MedicalNotes/RelatedProducts/diabeticplus.png") }}"  title="Diabetic Plus">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/diabetic-plus.html"><h6>Diabetic Plus</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
               <div class="app-bundle-div">
                    <a href="/web/home/blood-pressure.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/MedicalNotes/RelatedProducts/bp.png") }}"  title="Blood Pressure Register">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/blood-pressure.html"><h6>Blood Pressure Register</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                 <div class="app-bundle-div">
                    <a href="/web/home/fitness-planner.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/MedicalNotes/RelatedProducts/fitness.png") }}"  title="Fitness Planner">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/fitness-planner.html"><h6>Fitness Planner</h6></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

       

        <!-- Product FAQ -->
        <!--
        <div class="row">

  	    <div class="col-lg-12">
	       <h3 class="page-header">Frequently Asked Questions</h3>
            </div>

	  
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
 
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFive">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseSix">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseEight">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseNine">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                </div>
                 
            </div>
             
        </div>
         -->
	
	
	
        <hr>

        <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->

    {% module Template("footer-scripts.html") %}	

</body>

</html>
