<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}	

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Net Worth Suite
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/web/home/portfolio-personalfinance.html">Finance Apps</a>
                    </li>
                    <li class="breadcrumb-item active">Net Worth Suite</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/NetWorth/sc1.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/NetWorth/sc2.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/NetWorth/sc3.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/NetWorth/sc4.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/NetWorth/sc5.png") }}" alt="">
                        </div>



                    </div>

                    <!-- Controls -->
                    <a class="carousel-control-prev" href="#carousel-example-generic" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-generic" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>App Description</h3>
                <p>NetWorth Planner, start planning for your NetWorth in a simple, and an engaging way. </p><p>Have you ever felt the need to start planning for your NetWorth? Or, maybe you are approaching NetWorth and would like to do a reality check of your current savings and investments. Whether you're in NetWorth, close to it, or just dreaming about it, the NetWorth Planner helps you see how saving, spending and investment decisions can get you to the NetWorth you want. </p>
                <h3>Features</h3>
                <ul>
                    <li>Visually shows the NetWorth balance against your age starting from your current age to your desired life expectancy</li>
                    <li>Shows how rate of return on your current investment portfolio will affect your NetWorth.</li>
                    <li>You can save and print all your scenarios for future reference</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

	
	<!-- link to stores for the product -->
	<!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Buy</h3>
            </div>
	  
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block  buy-button" href="https://itunes.apple.com/in/app/networth-suite/id468335241?mt=8">Apple</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block  buy-button"  href="https://play.google.com/store/apps/details?id=com.aspiring.networth">Google Play</a>
                </div>
                
                                
	</div>
	
	<!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Products</h3>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/portfolio-tracker.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/NetWorth/RelatedProducts/portfoliolog.png") }}" title="Portfolio Log">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/portfolio-tracker.html"><h6>Portfolio Log</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/stock-value.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/NetWorth/RelatedProducts/stockvalue.png") }}" title="Financial Modelling">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/stock-value.html"><h6>Financial Modelling</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
               <div class="app-bundle-div">
                    <a href="/web/home/monthly-budget.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/NetWorth/RelatedProducts/monthlybudget.png") }}" title="Monthly Budget">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/monthly-budget.html"><h6>Monthly Budget</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/income-tracker.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/NetWorth/RelatedProducts/incometracker.png") }}" title="Income Tracker">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/income-tracker.html"><h6>Income Tracker</h6></a>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

           <!-- Related App Bundles Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related App Bundles</h3>
            </div>

            <div class="col-sm-3 col-6">
                 <div class="app-bundle-div">
                    <a href="/web/home/personal-finance-assistant.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/NetWorth/RelatedProducts/personalfinanceassistant.png") }}"  title="Personal Finance Assistant">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/personal-finance-assistant.html"><h6>Personal Finance Assistant</h6></a><h6>$ 3.99</h6>
                    </div>
                </div>
            </div>

             <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/portfolio-finance.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/NetWorth/RelatedProducts/portfoliofinance.png") }}"  title="Portfolio Finance">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/portfolio-finance.html"><h6>Portfolio Finance</h6></a><h6>$ 4.99</h6>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/budget-manager.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/NetWorth/RelatedProducts/budgetmanager.png") }}"  title="Monthly Budget Manager">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/budget-manager.html"><h6>Monthly Budget Manager</h6></a><h6>$ 2.99</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/money-tools.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/NetWorth/RelatedProducts/moneytools.png") }}"  title="Money Tools">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/money-tools.html"><h6>Money Tools</h6></a><h6>$ 3.99</h6>
                    </div>
                </div>
            </div>

        </div>

           



        <!-- Product FAQ -->
        <!--
        <div class="row">

  	    <div class="col-lg-12">
	       <h3 class="page-header">Frequently Asked Questions</h3>
            </div>

	  
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFive">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseSix">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                   
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseEight">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                  
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseNine">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                </div>
 
            </div>
             
        </div>
         -->
	
	
	
        <hr>

        <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->

    {% module Template("footer-scripts.html") %}	

</body>

</html>
