<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}

   <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">App Bundles
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">App Bundles</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        
        <div class="row">
            
            <!-- Invoicing Tools -->
             <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/business-invoice-bundle.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/businessinvoicebundle.png") }}" title="Business Invoice Bundle">
                        </div>
                    </a>
                    <a href="/web/home/business-invoice-bundle.html"><h4>Business Invoice Bundle</h4></a>
                    <div class="content-desc">
                        <p>Create and send invoices, purchase orders, billing statements, receipts and quotes to your customers. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>

           <!-- Company Tools -->
            <div class="col-sm-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/home-checkbook.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/businessledgerbooks.png") }}" title="Business Ledger Books">
                        </div>
                    </a>
                    <a href="/web/home/home-checkbook.html"><h4>Business Ledger Books</h4></a>
                    <div class="content-desc">
                        <p>Maintain a ledger of expenses and funds, create and email cash receipts and estimates, schedule maintenance. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/business-suite-pro.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/businesssuitepro.png") }}" title="Business Suite Pro">
                        </div>
                    </a>
                    <a href="/web/home/business-suite-pro.html"><h4>Business Suite Pro</h4></a>
                    <div class="content-desc">
                        <p>Create and organize invoices, estimates, quotes, orders, record all kinds of transactions <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/client-invoice-tools.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/clientinvoicetools.png") }}" title="Business Suite">
                        </div>
                    </a>
                    <a href="/web/home/client-invoice-tools.html"><h4>Client Invoice Tools</h4></a>
                    <div class="content-desc">
                        <p>Create, email and print invoices and receipts, track expenses and income and develop an aggregate balance. <br><b>Price: $ 1.99</b></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/work-invoices.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/workinvoices.png") }}" title="Work Invoices">
                        </div>
                    </a>
                    <a href="/web/home/work-invoices.html"><h4>Work Invoices</h4></a>
                    <div class="content-desc">
                        <p>Manage billing and payments, generate invoices, work estimates for your customers. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>
            
             <!--<div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/money-tools.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/employeepayschedule.png") }}" title="Employee Pay Schedule">
                        </div>
                    </a>
                    <a href="/web/home/emp-pay-schedule.html"><h4>Money Tools</h4></a>
                    <div class="content-desc">
                        <p>Create, track employees' schedule and payments, ledger and check book, create and manage invoices and receipts.
                        <br><b>Price: $ 2.99</b> </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/budget-manager.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/monthlymanager.png") }}" title="Monthly Budget Manager">
                        </div>
                    </a>
                    <a href="/web/home/budget-manager.html"><h4>Monthly Budget Manager</h4></a>
                    <div class="content-desc">
                        <p>Get a comprehensive view of your personal finance. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>

            </div>

            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/portfolio-finance.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/portfoliofinance.png") }}" title="Portfolio Finance">
                        </div>
                    </a>
                    <a href="/web/home/portfolio-finance.html"><h4>Portfolio Finance</h4></a>
                    <div class="content-desc">
                        <p>A one stop solution for all your investments, business administration and financial management needs. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div> -->
 
            
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

          <!-- <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/business-balance.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/businessbalance.png") }}" title="Invoice and Accounts">
                        </div>
                    </a>
                    <a href="/web/home/business-balance.html"><h4>Business Balance</h4></a>
                    <div class="content-desc">
                        <p>Track your income, expenses and their sources, and generate invoices and orders. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>

             <div class="col-sm-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/customer-tools.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/customertools.png") }}" title="Customer Tools">
                        </div>
                    </a>
                    <a href="/web/home/customer-tools.html"><h4>Invoice Air</h4></a>
                    <div class="content-desc">
                        <p>Create and send estimates, invoices and billing statements to your customers. <br><b>Price: $ 1.99</b></p>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/employee-log.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/employeelog.png") }}" title="Employee Log">
                        </div>
                    </a>
                    <a href="/web/home/employee-log.html"><h4>Employees Schedule</h4></a>
                    <div class="content-desc">
                        <p>Keep a track of your employees' schedule on a daily and weekly basis.Manage the weekly pay and travel reimbursement of your employees. <br><b>Price: $ 1.99</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/employer-tools.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner" src="{{ static_url("images/portfolio-appbundles/employertools.png") }}" title="Employer Tools">
                        </div>
                    </a>
                    <a href="/web/home/employer-tools.html"><h4>Employee Pro</h4></a>
                    <div class="content-desc">
                        <p>Do business administration, accounting, billing, project management and manage employee schedule. <br><b>Price: $ 2.99</b></p>
                    </div>
                </div>
            </div>-->
 
           
 
            
        </div>
        <!-- /.row -->

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="/web/home/portfolio-appbundles.html">&laquo;</a>
                    </li>
                    <li>
                        <a href="/web/home/portfolio-appbundles.html">1</a>
                    </li>
                    <li class="active">
                        <a href="/web/home/portfolio-appbundles-2.html">2</a>
                    </li>
                    <!-- <li>
                        <a href="#">&raquo;</a>
                    </li> -->
                </ul>
            </div>
        </div>
      
        <!-- /.row -->

        <hr>

       <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->
    {% module Template("footer-scripts.html") %}

</body>

</html>
