<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}

   <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Productivity Apps
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Productivity Apps</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">


            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/calendar-memos.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/calendarmemos.png") }}" title="Calendar Memos">
                        </div>
                    </a>
                    <a href="/web/home/calendar-memos.html"><h4>Calendar Memos</h4></a>
                    <div class="content-desc">
                        <p>Prioritize events. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/home-maintenance.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/homemaintenance.png") }}" title="Home Maintenance">
                        </div>
                    </a>
                    <a href="/web/home/home-maintenance.html"><h4>Home Maintenance</h4></a>
                    <div class="content-desc">
                        <p>Maintain your home within a budget. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/spring-cleaning.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/springcleaning.png") }}" title="Spring Cleaning">
                        </div>
                    </a>
                    <a href="/web/home/spring-cleaning.html"><h4>Spring Cleaning</h4></a>
                    <div class="content-desc">
                        <p>Spring clean your home. </p>
                    </div>
                </div>
            </div>
 
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/moving-planner.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/movingplanner.png") }}" title="Moving Planner">
                        </div>
                    </a>
                    <a href="/web/home/moving-planner.html"><h4>Moving Planner</h4></a>
                    <div class="content-desc">
                        <p>Manage essential tasks while shifting. </p>
                    </div>
                </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/vacation-planner.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/vacation.png") }}" title="Vacation Planner">
                        </div>
                    </a>
                    <a href="/web/home/vacation-planner.html"><h4>Vacation Planner</h4></a>
                    <div class="content-desc">
                        <p>Plan your vacation within a budget </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/auto-mileage.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/automileage.png") }}" title="Auto Mileage Tracker">
                        </div>
                    </a>
                    <a href="/web/home/auto-mileage.html"><h4>Auto Mileage Tracker</h4></a>
                    <div class="content-desc">
                        Maintain your vehicle mileage records
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/driving-logbook.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/driving.png") }}" title="Driving Log Book">
                        </div>
                    </a>
                    <a href="/web/home/driving-logbook.html"><h4>Driving Log Book</h4></a>
                    <div class="content-desc">
                        <p>Maintain your driving record </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/atv-bill.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/atv.png") }}" title="ATV Bill of Sale">
                        </div>
                    </a>
                    <a href="/web/home/atv-bill.html"><h4>ATV Bill of Sale</h4></a>
                    <div class="content-desc">
                        <p>Make a bill of sale for an ATV. </p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Projects Row -->
        <div class="row">
           
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/inventory-list.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/inventory.png") }}" title="Inventory Lists">
                        </div>
                    </a>
                    <a href="/web/home/inventory-list.html"><h4>Inventory Lists</h4></a>
                    <div class="content-desc">
                        <p>Record and manage inventory  </p>
                    </div>
                </div>
            </div>
           
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/attendance-log.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/attendance.png") }}" title="Attendance Log">
                        </div>
                    </a>
                    <a href="/web/home/attendance-log.html"><h4>Attendance Log</h4></a>
                    <div class="content-desc">
                        <p>Sign in Register and Log Book </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/business-letter.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/letter.png") }}" title="Business Letter">
                        </div>
                    </a>
                    <a href="/web/home/business-letter.html"><h4>Business Letter</h4></a>
                    <div class="content-desc">
                        <p>Create, email and print business letters </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/packing-slip.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-productivity/packingslip.png") }}" title="Packing Slip">
                        </div>
                    </a>
                    <a href="/web/home/packing-slip.html"><h4>Packing Slip</h4></a>
                    <div class="content-desc">
                        <p>Create, email and print packing slips </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

       <!-- Footer -->
    {% module Template("footer.html") %}
    
    </div>
    <!-- /.container -->
    {% module Template("footer-scripts.html") %}

</body>

</html>
