<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}

   <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Finance Apps
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Finance Apps</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/home-budget.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/homebudget.png") }}" title="Home Budget">
                        </div>
                    </a>
                    <a href="/web/home/home-budget.html"><h4>Home Budget</h4></a>
                    <div class="content-desc">
                        <p>Take control of your expenses. </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 img-portfolio">
                 <div class="content-div">
                    <a href="/web/home/checkbook-register.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/checkbook.png") }}" title="Check Book Register">
                        </div>
                    </a>
                    <a href="/web/home/checkbook-register.html"><h4>Check Book Register</h4></a>
                    <div class="content-desc">
                        <p>Manage your finances. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/rent-receipt.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/rentreceipt.png") }}" title="Rent Receipt">
                        </div>
                    </a>
                    <a href="/web/home/rent-receipt.html"><h4>Rent Receipt</h4></a>
                    <div class="content-desc">
                        <p>Manage and send rent receipts. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/cash-receipt.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/cashreceipt.png") }}" title="Cash Receipt">
                        </div>
                    </a>
                    <a href="/web/home/cash-receipt.html"><h4>Cash Receipt</h4></a>
                    <div class="content-desc">
                        <p>Manage and send cash receipts. </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
           
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/account-balance.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/accountbalance.png") }}" title="Account Balance">
                        </div>
                    </a>
                    <a href="/web/home/account-balance.html"><h4>Account Balance</h4></a>
                    <div class="content-desc">
                        <p>Manage your bank accounts. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                 <div class="content-div">
                    <a href="/web/home/monthly-budget.html">
                       <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/monthlybudget.png") }}" title="Monthly Budget">
                        </div>
                    </a>
                     <a href="/web/home/monthly-budget.html"><h4>Monthly Budget</h4></a>
                    <div class="content-desc">
                        <p>Income and expense tracking. </p>
                    </div>
                </div> 
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/retirement-planner.html">
                       <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/retirementplanner.png") }}" title="Retirement Planner">
                        </div>
                    </a>
                     <a href="/web/home/retirement-planner.html"><h4>Retirement Planner</h4></a>
                    <div class="content-desc">
                        <p>Start planning your retirement. </p>
                    </div>
                </div> 
            </div>
            

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/checking-accounts.html">
                       <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/checkingaccounts.png") }}" title="Checking Accounts">
                        </div>
                    </a>
                     <a href="/web/home/checking-accounts.html"><h4>Checking Accounts</h4></a>
                    <div class="content-desc">
                        <p>Manage your financial accounts. </p>
                    </div>
                </div> 
            </div>

        </div>

        <!-- Projects Row -->
        <div class="row">
            
             
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/portfolio-tracker.html">
                       <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/portfoliolog.png") }}" title="Portfolio Log">
                        </div>
                    </a>
                     <a href="/web/home/portfolio-tracker.html"><h4>Portfolio Log</h4></a>
                    <div class="content-desc">
                        <p>Track of all the stock and fund investments. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/stock-value.html">
                       <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/stockvalue.png") }}" title="Financial Modelling">
                        </div>
                    </a>
                     <a href="/web/home/stock-value.html"><h4>Financial Modelling</h4></a>
                    <div class="content-desc">
                        <p>Make better investment decisions. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                 <div class="content-div">
                    <a href="/web/home/net-worth.html">
                       <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/networth.png") }}" title="NetWorth Suite">
                        </div>
                    </a>
                     <a href="/web/home/net-worth.html"><h4>NetWorth Suite</h4></a>
                    <div class="content-desc">
                        <p>Stay informed about assets and liabilities. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                 <div class="content-div">
                    <a href="/web/home/savings-checkbook.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-personalfinance/savingscheckbook.png") }}" title="Savings Checkbook">
                        </div>
                    </a>
                    <a href="/web/home/savings-checkbook.html"><h4>Savings Checkbook</h4></a>
                    <div class="content-desc">
                        <p>Track your bank transactions. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

       <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->
    {% module Template("footer-scripts.html") %}

</body>

</html>
