<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}

   <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Business Apps
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Business Apps</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/invoice-suite.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/invoicesuite.png") }}" title="Invoice Suite">
                        </div>
                    </a>
                    <a href="/web/home/invoice-suite.html"><h4>Invoice Suite</h4></a>
                    <div class="content-desc">
                        <p>Create and send Invoices on the go. </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/checkbook-register.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/checkbook.png") }}" title="Check Book Register">
                        </div>
                    </a>
                    <a href="/web/home/checkbook-register.html"><h4>Check Book Register</h4></a>
                    <div class="content-desc">
                        <p>Manage your finances. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/business-quote.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/quote.png") }}" title="Business Quote">
                        </div>
                    </a>
                    <a href="/web/home/business-quote.html"><h4>Business Quote</h4></a>
                    <div class="content-desc">
                        <p>Create and send quotes on the go. </p>
                    </div>
                </div>     
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/purchase-order.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/purchaseorder.png") }}" title="Purchase Order">
                        </div>
                    </a>
                    <a href="/web/home/purchase-order.html"><h4>Purchase Order</h4></a>
                    <div class="content-desc">
                        <p>Create and send orders on the go. </p>
                    </div>
                </div>  
            </div>
            
            
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/business-ledger.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/ledger.png") }}" title="Business Ledger">
                        </div>
                    </a>
                    <a href="/web/home/business-ledger.html"><h4>Business Ledger</h4></a>
                    <div class="content-desc">
                        <p>Tracking your income and expenses. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/employee-schedule.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/employeeschedule.png") }}" title="Employee Schedule">
                        </div>
                    </a>
                    <a href="/web/home/employee-schedule.html"><h4>Employee Schedule</h4></a>
                    <div class="content-desc">
                        <p>Tracking your employees. </p>
                    </div>
                </div>
            </div>

             <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/work-order.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/workorder.png") }}" title="Work Order">
                        </div>
                    </a>
                    <a href="/web/home/work-order.html"><h4>Work Order</h4></a>
                    <div class="content-desc">
                        <p>Create and share work orders. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/balance-sheet.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/balancesheet.png") }}" title="Balance Sheet">
                        </div>
                    </a>
                    <a href="/web/home/balance-sheet.html"><h4>Balance Sheet</h4></a>
                    <div class="content-desc">
                        <p>Financial book summarising. </p>
                    </div>
                </div>
            </div>
            
            
        </div>

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/billing-statement.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/billingstatement.png") }}" title="Billing Statements">
                        </div>
                    </a>
                    <a href="/web/home/billing-statement.html"><h4>Billing Statements</h4></a>
                    <div class="content-desc">
                        <p>Record your customer’s transactions. </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/client-list.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/clientlist.png") }}" title="Client List">
                        </div>
                    </a>
                    <a href="/web/home/client-list.html"><h4>Client List</h4></a>
                    <div class="content-desc">
                        <p>Keep a track of all your clients. </p>
                    </div>
                </div>
            </div>

             <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/financial-statements.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/financialstat.png") }}" title="Client List">
                        </div>
                    </a>
                    <a href="/web/home/financial-statements.html"><h4>Financial Statements</h4></a>
                    <div class="content-desc">
                        <p>Financial book keeping. </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/sales-receipt.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-business/salesreceipt.png") }}" title="Sales Receipt">
                        </div>
                    </a>
                    <a href="/web/home/sales-receipt.html"><h4>Sales Receipt</h4></a>
                    <div class="content-desc">
                        <p>Generate and send receipts. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

       <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->
    {% module Template("footer-scripts.html") %}

</body>

</html>
