<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}   

<body>

{% module Template("header-nav.html") %}

   <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Health and Fitness Apps
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Health and Fitness Apps</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/diabetic-plus.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/diabeticplus.png") }}" title="Diabetic Plus">
                        </div>
                    </a>
                    <a href="/web/home/diabetic-plus.html"><h4>Diabetic Plus</h4></a>
                    <div class="content-desc">
                        <p>Track your blood sugar. </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/blood-pressure.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/bp.png") }}" title="Blood Pressure Register">
                        </div>
                    </a>
                    <a href="/web/home/blood-pressure.html"><h4>Blood Pressure Register</h4></a>
                    <div class="content-desc">
                        <p>Track your blood pressure. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/fitness-planner.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/fitness.png") }}" title="Fitness Planner">
                        </div>
                    </a>
                    <a href="/web/home/fitness-planner.html"><h4>Fitness Planner</h4></a>
                    <div class="content-desc">
                        <p>Track your exercise routine. </p>
                    </div>
                </div>     
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/blood-sugar.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/bloodsugar.png") }}" title="Blood Sugar Log">
                        </div>
                    </a>
                    <a href="/web/home/blood-sugar.html"><h4>Blood Sugar Log</h4></a>
                    <div class="content-desc">
                        <p>Monitor your blood sugar level. </p>
                    </div>
                </div>  
            </div>
            
            
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            
            

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/medication-log.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/medicationlog.png") }}" title="Medication Log">
                        </div>
                    </a>
                    <a href="/web/home/medication-log.html"><h4>Medication Log</h4></a>
                    <div class="content-desc">
                        <p>Manage your medications. </p>
                    </div>
                </div>
            </div>

             <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/medical-notes.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/medicalnotes.png") }}" title="Medical Notes Pro">
                        </div>
                    </a>
                    <a href="/web/home/medical-notes.html"><h4>Medical Notes Pro</h4></a>
                    <div class="content-desc">
                        <p>Track your medical appointments. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/medical-invoice.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/medicalinvoice.png") }}" title="Medical Invoice">
                        </div>
                    </a>
                    <a href="/web/home/medical-invoice.html"><h4>Medical Invoice</h4></a>
                    <div class="content-desc">
                        <p>Manage and send medical invoices. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/patient-signin.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/patientsignin.png") }}" title="Patient Sign In">
                        </div>
                    </a>
                    <a href="/web/home/patient-signin.html"><h4>Patient Sign In</h4></a>
                    <div class="content-desc">
                        <p>Manage the database of the patients. </p>
                    </div>
                </div>
            </div>
            
            
        </div>

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/work-out.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/workout.png") }}" title="Workout Planner">
                        </div>
                    </a>
                    <a href="/web/home/work-out.html"><h4>Workout Planner</h4></a>
                    <div class="content-desc">
                        <p>Tracking your workout activities. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/weight-loss.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/weightloss.png") }}" title="Weight Loss Pro">
                        </div>
                    </a>
                    <a href="/web/home/weight-loss.html"><h4>Weight Loss Pro</h4></a>
                    <div class="content-desc">
                        <p>Analyse your weight loss goals. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 img-portfolio">
               <div class="content-div">
                    <a href="/web/home/diet-log.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/dietlog.png") }}" title="Diet Log">
                        </div>
                    </a>
                    <a href="/web/home/diet-log.html"><h4>Diet Log</h4></a>
                    <div class="content-desc">
                        <p>Record healthy food recipes. </p>
                    </div>
                </div>
            </div>

            
            
            <div class="col-md-3 img-portfolio">
                <div class="content-div">
                    <a href="/web/home/nutrition-tracker.html">
                        <div class="content-img">
                            <img class="img-fluid img-inner img-hover" src="{{ static_url("images/portfolio-health/nutrition.png") }}" title="Nutrition Tracker">
                        </div>
                    </a>
                    <a href="/web/home/nutrition-tracker.html"><h4>Nutrition Tracker</h4></a>
                    <div class="content-desc">
                        <p>Track your nutrition intake. </p>
                    </div>
                </div>
            </div>

           
        </div>
        <!-- /.row -->

        <hr>

       <!-- Footer -->
    {% module Template("footer.html") %}
    
    </div>
    <!-- /.container -->
    {% module Template("footer-scripts.html") %}

</body>

</html>
