<!DOCTYPE html>
<html lang="en">

{% module Template("header-head.html") %}	

<body>

{% module Template("header-nav.html") %}	

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Rent Receipt
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/web/home/index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/web/home/portfolio-personalfinance.html">Finance Apps</a>
                    </li>
                    <li class="breadcrumb-item active">Rent Receipt</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/RentReceipt/sc1.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/RentReceipt/sc2.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/RentReceipt/sc3.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/RentReceipt/sc4.png") }}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ static_url("images/portfolio-item/RentReceipt/sc5.png") }}" alt="">
                        </div>



                    </div>

                    <!-- Controls -->
                    <a class="carousel-control-prev" href="#carousel-example-generic" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-generic" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>App Description</h3>
                <p>If you are a landlord, or a tenant wanting your landlord to give you a receipt for renting, the Rent Receipt app would come in handy. Rent Receipt app allows you to manage and send rent receipts very easily. The intuitive interface allows you to produce receipts in just a minute wherever you may be. Further, the app provides you with 2 receipt styles to choose from.</p>

                <h3>Features</h3>
                <ul>
                    <li>Allows you to manage and send rent receipts very easily</li>
                    <li>The intuitive interface allows you to produce receipts in just a minute wherever you may be.</li>
                    <li>The app provides you with 2 receipt styles to choose from</li>
                    <li>Simply tap e-mail, to send your rent receipts instantly and get paid faster.</li>
                    <li>You can email the receipts to yourself also.</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

	
	<!-- link to stores for the product -->
	<!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Buy</h3>
            </div>
	  
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block  buy-button" href="https://itunes.apple.com/us/app/rent-receipt/id498753958?mt=8">Apple</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block  buy-button"  href="https://play.google.com/store/apps/details?id=com.aspiring.rentreceipt">Google Play</a>
                </div>
                 <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block  buy-button"  href="http://www.amazon.com/Bill-Tracker-Kindle-Tablet-Edition/dp/B00821RLS8/ref=sr_1_7/189-4420561-3399025?s=mobile-apps&ie=UTF8&qid=1424514481&sr=1-7">Amazon</a>
                </div>
                 <!-- <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block"  href="http://www.amazon.com/Rent-Receipt-Kindle-Tablet-Edition/dp/B007NIWXNE/ref=sr_1_26/189-4420561-3399025?s=mobile-apps&ie=UTF8&qid=1424514481&sr=1-26">Nook</a>
                </div> -->
                                
	</div>
	
	<!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Products</h3>
            </div>
            
            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/checkbook-register.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/RentReceipt/RelatedProducts/checkbook.png") }}"  title="Checkbook Register">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/checkbook-register.html"><h6>Checkbook Register</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/home-budget.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/RentReceipt/RelatedProducts/homebudget.png") }}" title="Home Budget">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/home-budget.html"><h6>Home Budget</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/home-maintenance.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/RentReceipt/RelatedProducts/homemaintenance.png") }}" title="Home Maintenance">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/home-maintenance.html"><h6>Home Maintenance</h6></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                 <div class="app-bundle-div">
                    <a href="/web/home/cash-receipt.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/RentReceipt/RelatedProducts/cashreceipt.png") }}" title="Cash Receipt">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/cash-receipt.html"><h6>Cash Receipt</h6></a>
                    </div>
                </div>
            </div>

            


        </div>
        <!-- /.row -->
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related App Bundles</h3>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/travel-rent.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/RentReceipt/RelatedProducts/travelrentreceipts.png") }}"  title="Travel,Rent and Receipts">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/travel-rent.html"><h6>Travel,Rent and Receipts</h6></a><h6>$ 3.99</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                 <div class="app-bundle-div">
                    <a href="/web/home/personal-finance-assistant.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/RentReceipt/RelatedProducts/personalfinanceassistant.png") }}"  title="Personal Finance Assistant">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/personal-finance-assistant.html"><h6>Personal Finance Assistant</h6></a><h6>$ 2.99</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/budget-manager.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/RentReceipt/RelatedProducts/budgetmanager.png") }}"  title="Monthly Budget Manager">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/budget-manager.html"><h6>Monthly Budget Manager</h6></a><h6>$ 2.99</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-6">
                <div class="app-bundle-div">
                    <a href="/web/home/ledger-books.html">
                        <img class="img-fluid img-hover img-related img-inner" src="{{ static_url("images/portfolio-item/RentReceipt/RelatedProducts/ledgerbooks.png") }}"  title="Ledger Books">
                    </a>
                    <div class="app-bundle-name">
                        <a href="/web/home/ledger-books.html"><h6>Ledger Books</h6></a><h6>$ 6.99</h6>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->


        <!-- Product FAQ -->
        <!--
        <div class="row">

  	    <div class="col-lg-12">
	       <h3 class="page-header">Frequently Asked Questions</h3>
            </div>

	  
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                   
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                  
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFive">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseSix">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                   
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseEight">Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                   
                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseNine">Aenean consequat lorem ut felis ullamcorper?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                     
                </div>
                
            </div>
            
        </div>
         -->
	
	
	
        <hr>

        <!-- Footer -->
	{% module Template("footer.html") %}
	
    </div>
    <!-- /.container -->

    {% module Template("footer-scripts.html") %}	

</body>

</html>
